<!doctype html>
<html lang="en" ng-app="testingAngularApp">
<head>
    <meta charset="utf-8">
    <title>Testing AngularJS</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>    
    <script src="js/controllers/TestingAngularCtrl.js"></script>       
</head>
<body ng-controller="TestingAngularCtrl">

    <h1>{{title}}</h1>

    <form name="desintationForm" ng-submit="addDestination(desintationForm.$valid)">
        City: <input name="city" type=text ng-model="newDestination.city" /> <br />
        Country: <input name="country" type="text" ng-model="newDestination.country" ng-minLength="3" /> <br />
        <div ng-show="cityForm.country.$error.minLength">ERROR</div>
        <input id="AddDestinationButton" type="submit" value="Add" />
    </form>

    <br />
    <h2>Your trip</h2>
    <!-- FILTERS -->
    <section>
        Search <input type="text" ng-model="search"> <br />
        Sort by:
        <select ng-model="sort">
          <option value="city">City</option>
          <option value="country">Country</option>
        </select>  
    </section>
    
    <!-- DATA -- -->
    <div ng-repeat="destination in destinations | filter : search | orderBy : sort">
        <div data-destination-city></div>
        {{destination.city}}, {{destination.country}} <span ng-if="destination.weather"> - {{destination.weather.main}}, {{destination.weather.temp}}C</span>
        <input name="removeDestinationButton" type="button" value="Remove" ng-click="removeDestinationByIndex($index)" />
        <input name="updateWeatherButton" type="button" value="Update Weather" ng-click="getWeatherForDestination(destination)" />
    </div>

</body>
</html>