<!doctype html>
<html lang="en" ng-app="testingAngularApp">
<head>
    <meta charset="utf-8">
    <title>Testing AngularJS</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>    
    <script src="js/controllers/TestingAngularCtrl.js"></script>       
</head>
<body ng-controller="TestingAngularCtrl">

    <h1>{{title}}</h1>

    <form name="cityForm" ng-submit="addDestination(cityForm.$valid)">
    City name: <input name="cityName" type=text ng-model="newCity.name" /> <br />
    Duration: <input name="cityDuration" type="number" ng-model="newCity.duration" ng-min="1" /> <br />
    <div ng-show="cityForm.cityDuration.$error.min">ERROR</div>
    <input type="submit" value="Add" />
    </form>

    <br />
    <h2>Your trip</h2>
    <div>
    Search <input type="text" ng-model="search">
    </div>
    <div ng-repeat="city in cities | filter : search">
    <div data-destination-city></div>
    {{city.name}} {{city.duration}} <input type="button" value="Remove" ng-click="removeCityByIndex($index)" />
    </div>

</body>
</html>